@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;500&display=swap');

body{
	margin: 0;
}

h1{
	font-family: 'Oxanium';
	font-weight: 500;
	font-size: 72px;
	text-align: center;
}

*{
	font-family: 'Oxanium';
	font-weight: 300;
	font-size: 16px;
}

div.nav{
	background-color: lightgray;
	width: 100%;
	margin: 0;
	position: -webkit-sticky;
	position: sticky; 
	top: 0;
	z-index: 1;
}

table{
	background-color: lightgray;
	table-layout: fixed;
	width: 100%;
	text-align: center;
}

/* Styling for the homepage */

.wide-center{
	margin: auto;
	width: 75%
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	height: 500px;
	width: auto;
	border: 1px solid;
	border-color: rgb(129, 115, 99);
	border-radius: 20px;
	box-shadow: 5px 10px 25px rgb(96 96 121 / 0.8);
}

/* Styling for dynamic pages */

form{
	margin: 0 10px 10px 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-width: 2px;
	border-radius:5px;
	border-color: rgb(54, 54, 68);
	background: linear-gradient(to right, rgb(168, 168, 209), rgb(245, 245, 111), rgb(168, 168, 209));
	text-align: center;
}

.long-form{
	text-align: right;
	padding-right: 15px;
	background: linear-gradient(to right, rgb(245, 245, 111), rgb(168, 168, 209));
}

input.short{
	width: 9em;
}

.data-table{
	margin-left: 2%;
	margin-bottom: 20px;
}

.margin-top{
	margin-top: 10px;
}

.margin-bottom{
	padding-bottom: 20px;
}

.second-header{
	padding-top: 3em;
}

th{
	font-weight: bold;
}

.bold{
	font-weight:500
}

a:link{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: black;
}

select{
	max-width: 90%;
}

.beige{
	background-color:rgb(251, 251, 235);
}

/* Styling for two-column layout */
/*source: https://www.w3schools.com/howto/howto_css_two_columns.asp */

.column1 {
	float: left;
	width: 20%;
}

.column2 {
	float: left;
	width: 74%;
 }  
  
 /* Clear floats after the columns */
 .row:after {
	content: "";
	display: table;
	clear: both;
}

/* Initial guidance for the vertical line styling courtesy of geeksforgeeks.com
 https://www.geeksforgeeks.org/how-to-make-a-vertical-line-using-html/ */

.vertical-line{
	border-left: 2px solid black;
	/* height: 60%; */
	position: absolute; 
	left: 24%; 
}

.spacer{
	position: absolute;
	height: 25px;
	color: white
}
