<!DOCTYPE html>
<html>
<head>
	<title>Ms. Frizzle's Kindergarten Class Field Trip Planner</title>

	<script src="https://kit.fontawesome.com/9a64daf693.js" crossorigin="anonymous"></script>
</head>
<body>



	<h1>Ms. Frizzle's Kindergarten Class Field Trip Planner</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Location</th>
        <th>Favorite Language</th>
    </tr>
    <tbody>
    {% for item in people %}
    <tr>
        <td>{{item['name']}}</td>
        <td>{{item['age']}}</td>
        <td>{{item['location']}}</td>
        <td>{{item['favorite_color']}}</td>
    </tr>
    {% endfor %}
    </table>


	<p class="wide-center">
		Welcome to Ms. Frizzle's kindergarten class field trip planner! ~ A database-driven website to help keep track 
		of Ms. Frizzle's gifted and unruly students on exciting adventures. Herein you will find web pages to keep track of 
		students, their emergency contacts, planned field trips and parent chaperones, as well as detailed information 
		about allergens that students with allergies may need to avoid for particular trip snacks. (Image courtesy of 
		Scholastic Productions' "The Magic School Bus.")
	</p><br>



	
</body>
</html>
