<!DOCTYPE html>
<html>
<head>
	<title>Ms. Frizzle's Kindergarten Class Field Trip Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://kit.fontawesome.com/9a64daf693.js" crossorigin="anonymous"></script>
</head>
<body>

	{# <div class="table">
		<table>
			<td><a href="Home.html">Home</a></td>
			<td><a href="Students.html">Students</a></td>
			<td><a href="TrustedAdults.html">Trusted Adults</a></td>
			<td><a href="Allergies.html">Allergies</a></td>
			<td><a href="Snacks.html">Snacks</a></td>
			<td><a href="Trips.html">Trips</a></td>
			<td><a href="Attendees_and_Trip_Planner.html">Trip Planner</a></td>
		</table>
	</div> #}

{# Below is the navigation bar with updated hyperlinks. 
I left the original table commented out above in case I'm doing something wrong. #}

	<div class="table">
		<table>
			<td><a href="main.j2">Home</a></td>
			<td><a href="Students.j2">Students</a></td>
			<td><a href="TrustedAdults.j2">Trusted Adults</a></td>
			<td><a href="Allergies.j2">Allergies</a></td>
			<td><a href="Snacks.j2">Snacks</a></td>
			<td><a href="Trips.j2">Trips</a></td>
			<td><a href="Trip_Planner.j2">Trip Planner</a></td>
		</table>
	</div>	

	<h1>Ms. Frizzle's Kindergarten Class Field Trip Planner</h1>

{#
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Location</th>
        <th>Favorite Language</th>
    </tr>
    <tbody>
    {% for item in people %}
    <tr>
        <td>{{item['name']}}</td>
        <td>{{item['age']}}</td>
        <td>{{item['location']}}</td>
        <td>{{item['favorite_color']}}</td>
    </tr>
    {% endfor %}
    </table>
#}

	<p class="wide-center">
		Welcome to Ms. Frizzle's kindergarten class field trip planner! ~ A database-driven website to help keep track 
		of Ms. Frizzle's gifted and unruly students on exciting adventures. Herein you will find web pages to keep track of 
		students, their emergency contacts, planned field trips and parent chaperones, as well as detailed information 
		about allergens that students with allergies may need to avoid for particular trip snacks. (Image courtesy of 
		Scholastic Productions' "The Magic School Bus.")
	</p><br>

	<img class="list" src="https://i.imgur.com/AjKnYUE.jpeg" alt="TAKE CHANCES MAKE MISTAKES GET MESSY">

	
</body>
</html>
