<!DOCTYPE html>
<html>
<head>
	<title>Ms. Frizzle's Kindergarten Class Field Trip Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://kit.fontawesome.com/9a64daf693.js" crossorigin="anonymous"></script>
</head>
<body>

	<div class="table">
		<table>
			<td><a href="/">Home</a></td>
			<td><a href="Students">Students</a></td>
			<td><a href="TrustedAdults">Trusted Adults</a></td>
			<td><a href="Allergies">Allergies</a></td>
			<td><a href="Snacks">Snacks</a></td>
			<td><a href="Trips">Trips</a></td>
			<td><a href="TripPlanner">Trip Planner</a></td>
		</table>
	</div>

	<h1>Updating Planned Snack ID {{prefill[0]["plannedSnackID"]}}</h1>

    <div>
        <form action="/TripPlanner" method="POST" class="margin-top">
            <input type="hidden" name="add" value="updatePlannedSnack">
            <input type="hidden" id="plannedSnackID" name="plannedSnackID" value="{{prefill[0]["plannedSnackID"]}}">
                <select name="updateTrip" class="beige">
                    <option value="">Please select a Trip</option>
                {% for row in Trips %}
                    <option value="{{row["tripID"]}}" {% if prefill[0]["tripID"]==row["tripID"] %} selected="selected" {% endif %}>{{row["name"]}}</option>
                {% endfor %}
                </select> <br>
                <select name="updateSnack" class="beige">
                    <option value="">Please select a Snack</option>
                    <option value="">None</option>
                {% for row in Snacks %}
                    <option value="{{row["snackID"]}}" {% if prefill[0]["snackID"]==row["snackID"] %} selected="selected" {% endif %}>{{row["name"]}}</option>
                {% endfor %}
                </select> <br>
                <select name="updateSnackBringer" class="beige">
                    <option value="">Please select a Snack Bringer</option>
                    <option value="">None</option>
                {% for row in Adults %}
                    <option value="{{row["adultID"]}}" {% if prefill[0]["adultID"]==row["adultID"] %} selected="selected" {% endif %}>{{row["firstName"]}} {{row["lastName"]}}</option>
                {% endfor %}
                </select> <br><br>
            <input type="submit" value="Submit" id="modifyTripSubmit">	
        </form> 
    </div>
	     
</body>
</html>
