<!DOCTYPE html>
<html>
<head>
	<title>Ms. Frizzle's Kindergarten Class Field Trip Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
	<script src="https://kit.fontawesome.com/9a64daf693.js" crossorigin="anonymous"></script>
</head>
<body>

	<div class="table">
		<table>
			<td><a href="/">Home</a></td>
			<td><a href="Students">Students</a></td>
			<td><a href="TrustedAdults">Trusted Adults</a></td>
			<td><a href="Allergies">Allergies</a></td>
			<td><a href="Snacks">Snacks</a></td>
			<td><a href="Trips">Trips</a></td>
			<td><a href="TripPlanner">Trip Planner</a></td>
		</table>
	</div>

	<h1>Snacks</h1>

	<div class="row">
		<div class="column1">
			<form action="/Snacks" method="POST">
				<fieldset>
					<input type="hidden" name="add" value="addSnacks">
					<legend class="bold">Add a Snack:</legend>
					<label for="snackAdd">Snack Name: </label><br>
					<input type="text" id="snackAdd" name="snackAdd" required="required">
					<br>
					<br>
					<input type="submit" value="Submit" id="snackAddSubmit">
				</fieldset>
			</form><br> 
			<form onsubmit="checkDropdownSnacks()" action="/Snacks" method="POST">
				<fieldset>
					<input type="hidden" name="add" value="removeSnacks">
					<legend class="bold">Remove a Snack:</legend>
					<label for="snackDelete">Name of Unpopular Snack: </label><br>
						<select id="snackSelect" name="snackSelect" class="beige">
							<option value="">Please select a Snack</option>
						{% for row in Snacks %}
							<option value="{{row["Snack ID"]}}">{{row["Snack Name"]}}</option>
						{% endfor %}
						</select>
					<br>
					<br>
					<input type="submit" value="Submit" id="snackDeleteSubmit">
				</fieldset>
			</form> 
		</div>
		<div class="column2 vertical-line">
			<table class="data-table">
			<thead>
				<tr>
					<th>Snack ID</th>
					<th>Snack Name</th>
				</tr>

			<tbody>
				<!-- Now, iterate through every snack in Snacks -->
				{% for snack in Snacks %}
				<tr>
					<!-- Then iterate through every key in the current snack dictionary -->
					{% for key in snack.keys() %}

					<!-- Create a <td> element with the value of that key in it -->
					<td>{{snack[key]}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<h1>FDA Labeled Ingredients</h1>

	<div class="row">

		<div class="column1">
			<form onsubmit="checkDropdownSnacks()" action="/Snacks" method="POST">
				<fieldset>
					<input type="hidden" name="add" value="addIngredients">
					<legend class="bold">Add Labeled Ingredients:</legend>
					<br>
						<select id="addAllergenSnack" name="addAllergenSnack" class="beige">
							<option value="">Please select a Snack</option>
						{% for row in Snacks %}
							<option value="{{row["Snack ID"]}}">{{row["Snack Name"]}}</option>
						{% endfor %}
						</select> <br>
						<select id="addSnackAllergen" name="addSnackAllergen" class="beige">
							<option value="">Please select an Allergen</option>
						{% for row in Allergens %}
							<option value="{{row["allergenID"]}}">{{row["name"]}}</option>
						{% endfor %}
						</select> <br><br>
					<input type="submit" value="Submit" id="addIngredientSubmit">
				</fieldset>
			</form> 
		</div>
	
		<div class="column2 vertical-line">
			<table class="data-table">
			<thead>
				<tr>
					<th>Snack ID</th>
					<th>Snack Name</th>
					<th>Allergen ID</th>
					<th>Allergen</th>
				</tr>

			<tbody>
				<!-- Now, iterate through every item in Ingredients -->
				{% for item in Ingredients %}
				<tr>
					<!-- Then iterate through every key in the current item dictionary -->
					{% for key in item.keys() %}

					<!-- Create a <td> element with the value of that key in it -->
					<td>{{item[key]}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div><br>
	</div><br>

</body>
</html>
