<!DOCTYPE html>
<html>
<head>
	<title>Ms. Frizzle's Kindergarten Class Field Trip Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
	<script src="https://kit.fontawesome.com/9a64daf693.js" crossorigin="anonymous"></script>
</head>
<body onload="sortNumColumn([0,3], studentsTable); sortWordColumn([2], studentsTable)">

	<div class="table">
		<table>
			<td><a href="/">Home</a></td>
			<td><a href="Students">Students</a></td>
			<td><a href="TrustedAdults">Trusted Adults</a></td>
			<td><a href="Allergies">Allergies</a></td>
			<td><a href="Snacks">Snacks</a></td>
			<td><a href="Trips">Trips</a></td>
			<td><a href="TripPlanner">Trip Planner</a></td>
		</table>
	</div>

	<h1>Students</h1>

	<!-- INSERT into Students form; multiple select available to INSERT into Allergies table -->

	<div class="row">
		<div class="column1">		
			<form action="/Students" method="POST" class="long-form">
				<input type="hidden" name="add" value="addStudents">
				<legend class="bold">Add a Student</legend>
				<label for="fname">First Name: </label>
				<input type="text" id="fname" name="fname" required="required" class="short"><br>
				<label for="lname">Last Name: </label>
				<input type="text" id="lname" name="lname" class="short"><br>
				<label for="year">School Year: </label>
				<input type="text" id="year" name="year" required="required" class="short"><br>
				<label for="power">Power: </label>
				<input type="text" id="power" name="power" class="short"><br><br>
				<fieldset>
					<legend>Does the student have any allergies?</legend>
					<label><input type="radio" name="allergyFlag" value=1>Yes</label><br>
					<label><input type="radio" name="allergyFlag" value=0>No</label><br><br>
					<label for="student-allergies">Add student allergies:</label><br>	
					<select name="student-allergies" multiple>
					{% for row in Allergens %}
						<option value="{{row["allergenID"]}}">{{row["name"]}}</option>
					{% endfor %}
					</select><br>
					<label>(Ctrl+click to add multiple. Click <a href="Allergies" class="bold">here</a> if allergy is not listed.</label>
				</fieldset><br>
				<input type="submit" value="Submit" name="addStudentSubmit">
			</form>  
		</div>

	<!-- SELECT columns and rows from Students table -->

		<div class="column2 vertical-line">
			<table class="data-table" id="studentsTable">
			<thead>
				<tr>
					<th class="sort">Student ID ^</th>
					<th>Student First Name</th>
					<th class="sort">Student Last Name ^</th>
					<th class="sort">School Year ^</th>
					<th>Any Allergies?</th>
					<th>Special Power</th>
				</tr>
			<tbody>
				<!-- Iterate through every person in Students -->
				{% for person in Students %}
				<tr>
					<!-- Iterate through every key in the current person dictionary -->
					{% for key in person.keys() %}

					<!-- Create a <td> element with the value of that key in it -->
					<td>{{person[key]}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>	

	<h1>Emergency Contacts</h1>

	<!-- INSERT into Emergency Contacts form; dropdowns dynamically generated using attributes from Students and Trusted Adults tables -->

	<div class="row">
		<div class="column1">		
			<form onsubmit="checkDropdownStudents()" action="/Students" method="POST">
				<input type="hidden" name="add" value="addEmergencyContacts">
				<legend class="bold">Add an Emergency Contact</legend><br>
					<select id="addEmergencyContactsStudents" name="addEmergencyContactsStudents" class="beige">
						<option value="">Please select a Student</option>
					{% for row in Students %}
						<option value="{{row["Student ID"]}}">{{row["First Name"]}} {{row["Last Name"]}}</option>
					{% endfor %}
					</select> <br>
					<select id="addEmergencyContactsTrustedAdults" name="addEmergencyContactsTrustedAdults" class="beige">
						<option value="">Please select an Adult</option>
					{% for row in TrustedAdults %}
						<option value="{{row["adultID"]}}">{{row["firstName"]}} {{row["lastName"]}}</option>
					{% endfor %}
					</select>			
				<br><br>

				<input type="submit" value="Submit" name="addEmerContactSubmit">
			</form> 
		</div>

	<!-- SELECT columns and rows from Emergency Contacts table -->

		<div class="column2 vertical-line">
			<table class="data-table">
			<thead>
				<tr>
					<!-- Iterate through each key in the first row to get the
					column name -->
					{% for key in EmergencyContacts[0].keys() %}

					<!-- Create a <th> tag with the key inside of it, this will be
					our header row -->
					<th>{{ key }}</th>

					<!-- End of this for loop -->
					{% endfor %}
				</tr>

			<tbody>
				<!-- Iterate through every person in EmergencyContacts -->
				{% for person in EmergencyContacts %}
				<tr>
					<!-- Iterate through every key in the current person dictionary -->
					{% for key in person.keys() %}

					<!-- Create a <td> element with the value of that key in it -->
					<td>{{person[key]}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
			<br>
			<div class="spacer"><p>Spacer</p></div>
		</div>
	</div>	

</body>
</html>
