<!DOCTYPE html>
<html>
<head>
	<title>Ms. Frizzle's Kindergarten Class Field Trip Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://kit.fontawesome.com/9a64daf693.js" crossorigin="anonymous"></script>
</head>
<body>

	<div class="table">
		<table>
			<td><a href="/">Home</a></td>
			<td><a href="Students">Students</a></td>
			<td><a href="TrustedAdults">Trusted Adults</a></td>
			<td><a href="Allergies">Allergies</a></td>
			<td><a href="Snacks">Snacks</a></td>
			<td><a href="Trips">Trips</a></td>
			<td><a href="TripPlanner">Trip Planner</a></td>
		</table>
	</div>

	<h1>Students</h1>

	<div>
		<table>
        <thead>
            <tr>
                <!-- Iterate through each key in the first row to get the
                column name -->
                {% for key in Students[0].keys() %}

                <!-- Create a <th> tag with the key inside of it, this will be
                our header row -->
                <th>{{ key }}</th>

                <!-- End of this for loop -->
                {% endfor %}
            </tr>

        <tbody>
             <!-- Iterate through every person in Students -->
            {% for person in Students %}
            <tr>
                <!-- Iterate through every key in the current person dictionary -->
                {% for key in person.keys() %}

                <!-- Create a <td> element with the value of that key in it -->
                <td>{{person[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
		</table>
	</div>
    <br>
	<div class="narrow">		
		<form id="addStudent" action="/URL-TO-BE-DETERMINED" method="post">
			<legend class="bold">Add a Student</legend>
			<label for="fname">First Name: </label><br><input type="text" id="fname" name="fname"><br>
			<label for="lname">Last Name: </label><br><input type="text" id="lname" name="lname"><br>
			<label for="year">School Year: </label><br><input type="text" id="year" name="year"><br>
			<label for="power">Special Power: </label><br><input type="text" id="power" name="power"><br><br>
			<fieldset>
				<legend>Does the student have any allergies?</legend>
				<label><input type="radio" name="allergyFlag" value="Yes">Yes</label><br>
				<label><input type="radio" name="allergyFlag" value="No">No</label><br><br>
				<label for="student-allergies">Add student allergies:</label><br>	
				<select name="student-allergies" multiple>
					{% for row in Allergens %}
						<option value="{{row[0]}}">{{row[1]}}</option>  <!-- TODO -->
					{% endfor %}
				</select><br>
				<label>(Ctrl+click to add multiple. Click <a href="Allergies" class="bold">here</a> if allergy is not listed.</label>
			</fieldset><br>
			<input type="submit" value="Submit" id="addStudentSubmit">
		  </form>  
	</div>

	<h1>Emergency Contacts</h1>

	<div class="two-third">
		<table>
        <thead>
            <tr>
                <!-- Iterate through each key in the first row to get the
                column name -->
                {% for key in EmergencyContacts[0].keys() %}

                <!-- Create a <th> tag with the key inside of it, this will be
                our header row -->
                <th>{{ key }}</th>

                <!-- End of this for loop -->
                {% endfor %}
            </tr>

        <tbody>
             <!-- Iterate through every person in EmergencyContacts -->
            {% for person in EmergencyContacts %}
            <tr>
                <!-- Iterate through every key in the current person dictionary -->
                {% for key in person.keys() %}

                <!-- Create a <td> element with the value of that key in it -->
                <td>{{person[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
		</table>
	</div>

	<div class="narrow-right">		
		<form>
			<legend class="bold">Add an Emergency Contact</legend>
			<label for="studentID">Student ID: </label><br><input type="text" name="studentID"><br>
			<label for="adultID">Adult ID: </label><br><input type="text" name="adultID"><br>
			<input type="submit" value="Submit" id="addEmerContactSubmit">

		  </form> 
	</div>

</body>
</html>
