    <table>
    <thead>
    <tr>
        <!-- Iterate through each key in the first row to get the
        column name -->
        {% for key in Trips[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every row in Trips -->
    {% for row in Trips %}
    <tr>
        <!-- Then iterate through every key in the current row dictionary -->
        {% for key in row.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{row[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
