<!DOCTYPE html>
<html>
<head>
	<title>Ms. Frizzle's Kindergarten Class Field Trip Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
	<script src="https://kit.fontawesome.com/9a64daf693.js" crossorigin="anonymous"></script>
</head>
<body>

	<div class="table">
		<table>
			<td><a href="/">Home</a></td>
			<td><a href="Students">Students</a></td>
			<td><a href="TrustedAdults">Trusted Adults</a></td>
			<td><a href="Allergies">Allergies</a></td>
			<td><a href="Snacks">Snacks</a></td>
			<td><a href="Trips">Trips</a></td>
			<td><a href="TripPlanner">Trip Planner</a></td>
		</table>
	</div>

	<!-- Selection to SELECT/Filter rows in the displayed tables in this page based on tripID -->

	<div>
		<form class="margin-top" action="/TripPlanner" method="POST">
			<input type="hidden" name="add" value="selectPlanningTrip">
			<legend class="bold">Select a trip to filter:</legend>
				<select name="selectTrip" class="beige">
					<option value="">Please select a Trip</option>
					<option value="">Reset Tables</option>
				{% for row in Trips %}
					<option value="{{row["tripID"]}}">{{row["name"]}}</option>
				{% endfor %}
				</select> <br>
			<input type="submit" value="Submit" id="tripPlannerSubmit">

		</form>
	</div>

	<h1>Trip in Planning</h1>

	<!-- SELECT columns and rows from Trips table; duplicated from Trips page for ease of reference -->

	<div>
        <table>
        <thead>
			<tr>
				<!-- Iterate through each key in the first row to get the
				column name -->
				{% for key in TripPlanning[0].keys() %}

				<!-- Create a <th> tag with the key inside of it, this will be
				our header row -->
				<th>{{ key }}</th>

				<!-- End of this for loop -->
				{% endfor %}
			</tr>
        <tbody>
            <!-- Now, iterate through every row in TripPlanning -->
            {% for row in TripPlanning %}
            <tr>
                <!-- Then iterate through every key in the current row dictionary -->
                {% for key in row.keys() %}

                <!-- Create a <td> element with the value of that key in it -->
                <td>{{row[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
	</div>

	<h1>Attendees</h1>

	<!-- INSERT into Attendees form; dropdowns dynamically generated using attributes from Trips, Students, and Trusted Adults tables -->

	<div class="row">
		<div class="column1">
			<form onsubmit="checkDropdownAddAttendee()" action="/TripPlanner" method="POST">
				<input type="hidden" name="add" value="addAttendee">
				<legend class="bold">Add an Attendee</legend>
				<br>
					<select id="attendeeTrip" name="attendeeTrip" class="beige">
						<option value="">Please select a Trip</option>
					{% for row in Trips %}
						<option value="{{row["tripID"]}}">{{row["name"]}}</option>
					{% endfor %}
					</select> <br>				
					<select id="attendeeStudent" name="attendeeStudent" class="beige">
						<option value="">Please select a Student</option>
					{% for row in Students %}
						<option value="{{row["studentID"]}}">{{row["firstName"]}} {{row["lastName"]}}</option>
					{% endfor %}
					</select> <br>
					<select id="attendeeChaperone" name="attendeeChaperone" class="beige">
						<option value="">Please select a Chaperone</option>
					{% for row in Adults %}
						<option value="{{row["adultID"]}}">{{row["firstName"]}} {{row["lastName"]}}</option>
					{% endfor %}
					</select> <br><br>
				<input type="submit" value="Submit" id="addAttendeeSubmit">
			</form> 
		</div>

	<!-- SELECT columns and rows from Attendees table; additional attributes JOINed from Students and Trusted Adults tables -->

		<div class="column2 vertical-line">
			<table class="data-table">
			<thead>
				<tr>
					<th>Trip ID</th>
					<th>Student ID</th>
					<th>Student First Name</th>
					<th>Student Last Name</th>
					<th>Responsible Chaperone ID</th>
					<th>Responsible Chaperone FName</th>
					<th>Responsible Chaperone LName</th>
				</tr>

			<tbody>
				<!-- Now, iterate through every row in Attendees -->
				{% for row in Attendees %}
				<tr>
					<!-- Then iterate through every key in the current row dictionary -->
					{% for key in row.keys() %}

					<!-- Create a <td> element with the value of that key in it -->
					<td>{{row[key]}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<h1>Planned Snacks</h1>

	<!-- INSERT into Planned Snacks form; dropdowns dynamically generated using attributes from Trips, Snacks, and Trusted Adults tables -->

	<div class="row">
		<div class="column1">
			<form onsubmit="checkDropdownAddPlannedSnack()" action="/TripPlanner" method="POST">
				<input type="hidden" name="add" value="addPlannedSnack">
				<legend class="bold">Add a Planned Snack</legend>
				<br>
					<select id="plannedSnackTrip" name="plannedSnackTrip" class="beige">
						<option value="">Please select a Trip</option>
					{% for row in Trips %}
						<option value="{{row["tripID"]}}">{{row["name"]}}</option>
					{% endfor %}
					</select> <br>
					<select id="plannedSnackName" name="plannedSnackName" class="beige">
						<option value="">Please select a Snack</option>
					{% for row in Snacks %}
						<option value="{{row["snackID"]}}">{{row["name"]}}</option>
					{% endfor %}
					</select> <br>
					<select id="plannedSnackBringer" name="plannedSnackBringer" class="beige">
						<option value="">Please select a Snack Bringer</option>
					{% for row in Adults %}
						<option value="{{row["adultID"]}}">{{row["firstName"]}} {{row["lastName"]}}</option>
					{% endfor %}
					</select> <br><br>
				<input type="submit" value="Submit" id="addPlannedSnackSubmit">
			</form> 

	<!-- Selection to UPDATE a Planned Snacks entry; dropdown dynamically generated using attributes from Planned Snacks table -->

			<form onsubmit="checkDropdownModifyPlannedSnack()" action="/PlannedSnackUpdate" method="GET">
				<input type="hidden" name="add" value="selectPlannedSnack">
				<legend class="bold">Modify a Planned Snack</legend>
					<br>
					<select id="selectUpdatePlannedSnack" name="selectUpdatePlannedSnack" class="beige">
						<option value="">Please select a Planned Snack</option>
					{% for row in PlannedSnack %}
						<option value="{{row["Planned Snack ID"]}}">{{row["Planned Snack ID"]}}</option>
					{% endfor %}
					</select> <br>
				<input type="submit" value="Edit" id="modifyPlannedSnack">	
			</form> 
		</div>

	<!-- SELECT columns and rows from Planned Snacks table; additional attributes JOINed from Snacks and Trusted Adults tables -->

		<div class="column2 vertical-line">
			<table class="data-table">
			<thead>
				<tr>
					<th>Planned Snack ID</th>
					<th>Trip ID</th>
					<th>Snack ID</th>
					<th>Snack Name</th>
					<th>Snack Bringer ID</th>
					<th>Snack Bringer FName</th>
					<th>Snack Bringer LName</th>
				</tr>

			<tbody>
				<!-- Now, iterate through every row in PlannedSnack -->
				{% for row in PlannedSnack %}
				<tr>
					<!-- Then iterate through every key in the current row dictionary -->
					{% for key in row.keys() %}

					<!-- Create a <td> element with the value of that key in it -->
					<td>{{row[key]}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div><br>
	</div>

</body>
</html>
