<!DOCTYPE html>
<html>
<head>
	<title>Ms. Frizzle's Kindergarten Class Field Trip Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://kit.fontawesome.com/9a64daf693.js" crossorigin="anonymous"></script>
</head>
<body>

	<div class="table">
		<table>
			<td><a href="/">Home</a></td>
			<td><a href="Students">Students</a></td>
			<td><a href="TrustedAdults">Trusted Adults</a></td>
			<td><a href="Allergies">Allergies</a></td>
			<td><a href="Snacks">Snacks</a></td>
			<td><a href="Trips">Trips</a></td>
			<td><a href="TripPlanner">Trip Planner</a></td>
		</table>
	</div>


	<div class="narrow">
		<form class="margin-top" action="/TripPlanner" method="POST">
			<input type="hidden" name="add" value="selectPlanningTrip">
			<legend class="bold">Select a trip to filter:</legend>
				<select name="selectTrip">
					<option value="">Please select a Trip</option>
					<option value="">Reset Tables</option>
				{% for row in Trips %}
					<option value="{{row["tripID"]}}">{{row["name"]}}</option>
				{% endfor %}
				</select> <br>
			<input type="submit" value="Submit" id="tripPlannerSubmit">

		</form>
	</div>

	<h1>Trip in Planning</h1>

	<div>
        <table>

        <thead>
			<tr>
				<!-- Iterate through each key in the first row to get the
				column name -->
				{% for key in TripPlanning[0].keys() %}

				<!-- Create a <th> tag with the key inside of it, this will be
				our header row -->
				<th>{{ key }}</th>

				<!-- End of this for loop -->
				{% endfor %}
			</tr>
        <tbody>
            <!-- Now, iterate through every row in TripPlanning -->
            {% for row in TripPlanning %}
            <tr>
                <!-- Then iterate through every key in the current row dictionary -->
                {% for key in row.keys() %}

                <!-- Create a <td> element with the value of that key in it -->
                <td>{{row[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
	</div>

	<h1>Attendees</h1>

	<div>
        <table>
        <thead>
			<tr>
				<!-- Iterate through each key in the first row to get the
				column name -->
				{% for key in Attendees[0].keys() %}

				<!-- Create a <th> tag with the key inside of it, this will be
				our header row -->
				<th>{{ key }}</th>

				<!-- End of this for loop -->
				{% endfor %}
			</tr>

        <tbody>
            <!-- Now, iterate through every row in Attendees -->
            {% for row in Attendees %}
            <tr>
                <!-- Then iterate through every key in the current row dictionary -->
                {% for key in row.keys() %}

                <!-- Create a <td> element with the value of that key in it -->
                <td>{{row[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
	</div>

	<h1>Planned Snacks</h1>

	<div>
        <table>
        <thead>
			<tr>
				<!-- Iterate through each key in the first row to get the
				column name -->
				{% for key in PlannedSnack[0].keys() %}

				<!-- Create a <th> tag with the key inside of it, this will be
				our header row -->
				<th>{{ key }}</th>

				<!-- End of this for loop -->
				{% endfor %}
			</tr>

        <tbody>
            <!-- Now, iterate through every row in PlannedSnack -->
            {% for row in PlannedSnack %}
            <tr>
                <!-- Then iterate through every key in the current row dictionary -->
                {% for key in row.keys() %}

                <!-- Create a <td> element with the value of that key in it -->
                <td>{{row[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
	</div><br>

	<div class="row">
		<div class="column"> 
		
			<form action="/TripPlanner" method="POST">
				<input type="hidden" name="add" value="addAttendee">
				<legend class="bold">Add an Attendee</legend>
				<label for="tripID">Trip: </label><br>
					<select name="attendeeTrip">
						<option value="">Please select a Trip</option>
					{% for row in Trips %}
						<option value="{{row["tripID"]}}">{{row["name"]}}</option>
					{% endfor %}
					</select> <br>
				<label for="studentID">Student: </label><br>
					<select name="attendeeStudent">
						<option value="">Please select a Student</option>
					{% for row in Students %}
						<option value="{{row["studentID"]}}">{{row["firstName"]}} {{row["lastName"]}}</option>
					{% endfor %}
					</select> <br>
				<label for="adultID">Chaperone: </label><br>
					<select name="attendeeChaperone">
						<option value="">Please select a Chaperone</option>
					{% for row in Adults %}
						<option value="{{row["adultID"]}}">{{row["firstName"]}} {{row["lastName"]}}</option>
					{% endfor %}
					</select> <br>
				<input type="submit" value="Submit" id="addAttendeeSubmit">
			</form> 

		</div>
		<div class="column">
			<form action="/TripPlanner" method="POST">
				<input type="hidden" name="add" value="addPlannedSnack">
				<legend class="bold">Add a Planned Snack</legend>
				<label for="tripID">Trip: </label><br>
					<select name="plannedSnackTrip">
						<option value="">Please select a Trip</option>
					{% for row in Trips %}
						<option value="{{row["tripID"]}}">{{row["name"]}}</option>
					{% endfor %}
					</select> <br>
				<label for="studentID">Snack: </label><br>
					<select name="plannedSnackName">
						<option value="">Please select a Snack</option>
					{% for row in Snacks %}
						<option value="{{row["snackID"]}}">{{row["name"]}}</option>
					{% endfor %}
					</select> <br>
				<label for="adultID">Snack Bringer: </label><br>
					<select name="plannedSnackBringer">
						<option value="">Please select a Snack Bringer</option>
					{% for row in Adults %}
						<option value="{{row["adultID"]}}">{{row["firstName"]}} {{row["lastName"]}}</option>
					{% endfor %}
					</select> <br>
				<input type="submit" value="Submit" id="addPlannedSnackSubmit">
			</form> 
		</div>

		<div class="column">
			<form action="/TripPlanner" method="POST">
				<input type="hidden" name="add" value="updatePlannedSnack">
				<legend class="bold">Modify a Planned Snack</legend>
				<label for="plannedSnackID">Planned Snack: </label><br>
					<select name="selectUpdatePlannedSnack">
						<option value="">Please select a Planned Snack</option>
					{% for row in PlannedSnack %}
						<option value="{{row["Planned Snack ID"]}}">{{row["Planned Snack ID"]}}</option>
					{% endfor %}
					</select> <br>
				<label for="tripName">Trip: </label><br>
					<select name="updatePlannedSnackTrip">
						<option value="">Please select a Trip</option>
					{% for row in Trips %}
						<option value="{{row["tripID"]}}">{{row["name"]}}</option>
					{% endfor %}
					</select> <br>
				<label for="snackName">Snack: </label><br>
					<select name="updatePlannedSnackName">
						<option value="">Please select a Snack</option>
						<option value="">None</option>
					{% for row in Snacks %}
						<option value="{{row["snackID"]}}">{{row["name"]}}</option>
					{% endfor %}
					</select> <br>
				<label for="snackBringerName">Snack Bringer: </label><br>
					<select name="updateSnackBringer">
						<option value="">Please select a Snack Bringer</option>
						<option value="">None</option>
					{% for row in Adults %}
						<option value="{{row["adultID"]}}">{{row["firstName"]}} {{row["lastName"]}}</option>
					{% endfor %}
					</select> <br>
				<input type="submit" value="Edit" id="modifyPlannedSnack">	
			</form> 
		</div>
	  </div><br>


</body>
</html>
