<!DOCTYPE html>
<html>
<head>
	<title>Ms. Frizzle's Kindergarten Class Field Trip Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://kit.fontawesome.com/9a64daf693.js" crossorigin="anonymous"></script>
</head>
<body>

	<div class="nav">
		<table>
			<td><a href="/">Home</a></td>
			<td><a href="Students">Students</a></td>
			<td><a href="TrustedAdults">Trusted Adults</a></td>
			<td><a href="Allergies">Allergies</a></td>
			<td><a href="Snacks">Snacks</a></td>
			<td><a href="Trips">Trips</a></td>
			<td><a href="TripPlanner">Trip Planner</a></td>
		</table>
	</div>

	<h1>Trusted Adults</h1>

	<div class="row">
		<div class="column1">		
			<form action="/TrustedAdults" method="POST">
				<legend class="bold">Add a Trusted Adult</legend>
				<label for="fname">First Name: </label><br><input type="text" id="fname" name="fname" required="required"><br>
				<label for="lname">Last Name: </label><br><input type="text" id="lname" name="lname" required="required"><br>
				<label for="phone">Primary Phone: </label><br><input type="text" id="phone" name="phone" required="required"><br><br>

				<input type="submit" value="Submit" id="addAdultSubmit">

			</form> 
		</div>

		<div class="column2 vertical-line">

			<table class="data-table">
			<thead>
				<tr>
					<!-- Iterate through each key in the first row to get the
					column name -->
					{% for key in TrustedAdults[0].keys() %}

					<!-- Create a <th> tag with the key inside of it, this will be
					our header row -->
					<th>{{ key }}</th>

					<!-- End of this for loop -->
					{% endfor %}
				</tr>

			<tbody>
				<!-- Now, iterate through every row in TrustedAdults -->
				{% for row in TrustedAdults %}
				<tr>
					<!-- Then iterate through every key in the current row dictionary -->
					{% for key in row.keys() %}

					<!-- Create a <td> element with the value of that key in it -->
					<td>{{row[key]}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>

		</div>
	</div>

	
</body>
</html>
